
section {
    border: 2px solid black;
}
p {
    color : rgba(2, 3, 1, .5)
}

figure {
    
    color: hsl(90, 100%, 50%) ;
    border-style: solid;
    color: hsl(90,100%,50%);
    margin: 100px 100px 100px 100px ;
   
}

* {
    margin: 100px 100px 100px 100px  ;
}