


section {
    border: 2px solid black;
}
p span:first-child {

    color : red;
    font-size: 30px;
}
/* An + B*/
p span:nth-child(3n+1) {

    color : blue;
    font-size: 30px;
}

figure {
    
    color: hsl(90, 100%, 50%) ;
    border-style: solid;
    color: hsl(90,100%,50%);
    margin: 100px 100px 100px 100px ;
   
}

* {
    margin: 100px 100px 100px 100px  ;
}

a:hover {
    color: red;
    border-bottom: 2px solid red;
}
a:active {
    color: blue;
}

a:visited {
    color: green;

}

h1 {
    font-family: "Playwrite BR Guides";
    text-align: center;
}

#ID {
    text-decoration: underline;
    text-transform: uppercase ;
}